*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
 
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.main{
  display: flex;
  height: 100vh;
}
.sideber{
  color: white;
  width: 260px;
  flex-shrink: 0;
  background-color: black;
  height: 100%;
  overflow: auto;
}
.sideber-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
}
.sideber-item:hover{
  background-color: gray;
}
.sideber-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sideber-title span i {
  display: inline-block;
  width: 1.5em;
}
.sideber-title .title-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sideber-item.open .sideber-title .title-btn{
  transform: rotate(180deg);
}
.sideber-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sideber-item.open .sideber-content{
  height: auto;
}
.container{
  flex-grow: 1;
  background-color: gray;
  padding: 2em;
  background-image:url('../public/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: white;
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: brown;
  color: white;
}
